
<% if @errors%>
    <% @errors.each do |error|%>
        <p>Error: <%= error%></p>
    <% end%>
<% end%>


<%= form_for @join do |f|%>

<%= f.label :instrument%>
<%= f.collection_select :instrument_id, @instruments, :id, :name%>
<%= f.label :artists%>
<%= f.collection_select :artist_id, @artists, :id, :name%>

<%= f.submit%>
<%end%>